[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "~=0.115.0"
uvicorn = {extras = ["standard"], version = "~=0.38.0"}
kubernetes = "~=31.0.0"
valkey = "~=6.0.2"
structlog = "~=24.4.0"
pydantic = "~=2.10.0"
pydantic-settings = "~=2.6.0"

[dev-packages]

[requires]
python_version = "3.11"
